

<button type="button" class="close pr-1" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <!-- . -->

<div class="p-4">

<div  >
  <h4 class="h4 text-center mt-0 mb-4">Смена пароля</h4>
  <form [formGroup]="formPassword" (submit)="newPassword()">
    <label for="newpassword" class="mb-0">Новый пароль:</label>
    <input class='form-control mb-0' type="password" id="newpassword" formControlName="password" aria-describedby="password" placeholder="Пароль..."  name="password">
    <div *ngIf="formPassword.invalid" class="text-danger">Минимальная длина пароль - 6 симоволов</div>
    <div class="alert alert-success" *ngIf="confirm == 'good'">Ваш пароль успешно изменен.</div>
    <div class="alert alert-danger" *ngIf="confirm == 'bad'">Что-то пошло не так. Попробуйте снова позже</div>
    <button type="submit" class="btn btn-danger mt-2" [disabled]="formPassword.invalid">Изменить</button>

    </form>
</div>
  
</div>
